<%- include("../partials/header") %>

<main class="container main-shop">

    <aside class="aside">

        <form class="aside__form">
            
            <h4 class="form__title">BUSCAR</h4>
            <input class="form__input" type="text" name="nombrebusqueda" placeholder="Ítem o categoría...">

            <h4 class="form__title">ORDENAR POR</h4>
            <select class="form__input" name="ordenamiento">
                <option value="1">Mayor a menor</option>
                <option value="2">Menor a mayor</option>
            </select>

            <h4 class="form__title">PRECIO</h4>
            <label class="form__label" for="minprecio">MIN</label>
            <input class="form__input" type="number" name="minprecio" id="" placeholder="0">
            <label class="form__label" for="maxprecio" >MÁX</label>
            <input class="form__input" type="number" name="maxprecio" placeholder="0">


            <h4 class="form__title">FILTRAR</h4>
            <ul class="checks-container">
                <li class="form__checks">
                    <input class="form__checkbox" type="checkbox" name="nuevos" id="">
                    <label class="form__label" for="nuevos">NUEVOS</label>
                </li>
                <li class="form__checks">
                    <input class="form__checkbox" type="checkbox" name="ofertas" id="">
                    <label class="form__label" for="ofertas">OFERTAS</label>
                </li>
                <li class="form__checks">
                    <input class="form__checkbox" type="checkbox" name="specialedition">
                    <label class="form__label" for="specialedition">EDICIÓN ESPECIAL</label>
                </li>
                <li class="form__checks">
                    <input class="form__checkbox" type="checkbox" name="favoritos">
                    <label class="form__label" for="favoritos">FAVORITOS</label>
                </li>
            </ul>


        </form>

    </aside>

    <section class="catalog">
        
        <ul class="catalog__items">
                <% view.values.forEach( product => { %>
                    <li class="catalog__item">
                        <article class="card-item">
                            <a class="card-item__link" href="/shop/item/<%= product.product_id %>">
                                <picture class="card-item__cover">
                                    <%  if(((view.newDate.getTime() - product.create_time.getTime()) / view.millisecondsADay) < 15 ){%>
                                        <span class="card-item__tag">Nuevo</span>
                                    <%}%>
                                    <img class="card-item__img--front" src="/uploads/<%= product.image_front %>" alt="<%=product.product_name %>">
                                    <img class="card-item__img--back" src="/uploads/<%= product.image_back %>" alt="<%=product.product_name %> en caja">
                                </picture>
                                <div class="card-item__content">
                                    <p class="card-item__license"><%=view.licenses.find( license => license.license_id == product.license_id).license_name%></p>
                                    <h4 class="card-item__name"><%=product.product_name%></h4>
                                    <p class="card-item__price">$ <%=product.price%></p>
                                    <p class="card-item__promo"><%= product.dues + " CUOTAS SIN INTERÉS"%></p>
                                </div>
                            </a>
                        </article>
                    </li>
                <% }) %>


        </ul>

        <div class="pagination">
            <a class="pagination__link" href="#" ><</a>
            <a class="pagination__link pagination__link--selected" href="/shop?page=1" >1</a>
            <a class="pagination__link" href="/shop?page=2" >2</a>
            <a class="pagination__link" href="/shop?page=3" >3</a>
            <a class="pagination__link" href="/shop?page=4" >4</a>
            <a class="pagination__link" href="/shop?page=5" >5</a>
            <a class="pagination__link" href="/shop?page=6" >></a>
        </div>
    </section>




</main>


<%- include("../partials/footer") %>